version: '3.9'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: artist
      POSTGRES_PASSWORD: artistpw
      POSTGRES_DB: artistdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: